
<img src="https://i.imgur.com/U7afLiO.png" id="img">
      <label for="formFile" class="form-label mt-4">upload</label>
      <input class="form-control" type="file" id="file">
<button class="btn btn-primary mt-4" id="upload">Upload</button>
<strong>
    <p id="url"></p>
</strong>

<script>
    const file = document.getElementById("file")
    const img = document.getElementById("img")
    const url = document.getElementById("url")
		const upload = document.getElementById("upload")
    upload.addEventListener("click", ev => {
        const formdata = new FormData()
        formdata.append("image", ev.target.files[0])
        fetch("https://api.imgur.com/3/image/", {
            method: "post",
            headers: {
                Authorization: "Client-ID e4097b84e9eb890"
            },
            body: formdata
        }).then(data => data.json()).then(data => {
            img.src = data.data.link
            url.innerText = data.data.link
        })
    })
</script>

        