@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

	<h1 class="text-center">Uh Oh!</h1>
	<h4 class="text-warning text-center">It looks like you're not authorized to use this part of the site!</h4>
<p class="text-danger text-center">If you have an authorized account, <a asp-area="Identit y" asp-page="/Account/Login" class="link-danger"> log in here.</a></p>

