@page
@model ID6NP.Areas.Admin.Pages.IndexModel
@{
}

<h3>Administrators</h3>

<a asp-area="Admin" asp-page="/Roles/Index">Roles</a>


@*
<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item"><a asp-area="Admin" asp-page="/Roles/Index">Roles</a></li>
        </ul>
    </div>
</div>*@
