@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LandingPage.Models.User
<partial name="_ProfilePartialUnauthorized" for="@Model" />
<hr />

            <h5 class="text-center">Posts by @Model.DisplayName</h5>
            <hr />

            @foreach (Post post in Model.Posts)
            {
                <partial name="_PostPartial" for="@post" />
            }



      