html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.blurbwithimage {
    /*flex and wrap*/
    display: inline-flex;
   
}

.sqimage{
    object-fit:cover;
    width:20%;
    padding: 0 2%;
}

.textright{
    font-size: 3vh;
    text-align: right;
   
}
.textleft {
    font-size: 3vh;
    text-align: left;
}
.textleft-bio {
    font-size: 1.5vh;
    padding: 0 0 0 10px;
}
.headerLogo{
    height:5vh;
    padding:0 0 0 0;
}

.headerLogo:hover{
    -webkit-filter:invert();
    
}

.logoLink {
    
    padding: 0 0 5px 0;
}

.logoPage {
    height: 15em;
    padding: 0 0 0 0;
    -webkit-filter:invert();
}
.logoPageSmaller{
    height: 10em;
}

hr {
    border-block-color: mediumaquamarine;
}

.btn-lrgst{
    width: 50vw;
}

.btn-lrgerer {
    width: 20vw;
}

.dropdown-pfp {
    border-radius: 100%;
    border: 3px solid white;
    width: 60px;
    height: 60px;
}

    .dropdown-pfp:hover {
        border: 3px solid;
        border-color: aquamarine;
    }

.author-pfp {
    border-radius: 100%;
    border: 3px solid white;
    width: 45px;
    height: 45px;
}

    .author-pfp:hover {
        border: 3px solid;
        border-color: aquamarine;
    }

.pfp-preview {
    object-fit:cover;
    height: 20vh;
    width:100vw;
   
}
    .pfp-select{
        width:30%;
        padding:10px;
    }
.cov-preview {
    object-fit: cover;
    height: 20vh;
    width: 100vw;
}

.cov-select {
    object-fit: cover;
    height: 10vh;
    width: 30vw;
    padding: 2px;
}

.coverandpfp {
  
   

}
.btn-wide-short{
    width:160px;
    height:10px;
}

.coverImage {
    object-fit: cover;
    width: 100%;
    
    height: 20vh;
}
.profileImage{
    object-fit:cover;
   
    width:50%;
   
    
}



.mailtolink{
    
    text-decoration: none;
}
.btn-strch{
    width:100%;
    height:30%;
}
.profileheader {
    background-position: center;
    background-size: cover;
}
.profileheader-text{
    mix-blend-mode: difference;
    color:white;
}
.news-screen{
    padding: 10px;
 display:inline-flex;
   

}
.news-feed{
    margin-left:0px;
  margin-right:0px;
  
  
}
.homepagecol {
    
}
.makepostcard{
  
align-self:center;
    
}
.bio{
    padding:10px;
    font-size:100%;
}
.profileright {


}
.profilepartial {

}
@media screen and (max-width: 760px) {
    .bio {
        font-size: 70%;
    }
    
}

.pfp-topright {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: flex-end;
}
@media screen and (max-width: 800px) {
    .pfp-topright {
       align-items:end;
    }
}
.btn-alltheway{
    width:100%;
}
.embed-post {
    overflow-y:scroll;
}

.profilecard{
   

    
}
.profiledropd {
    padding: 0px;
    margin: 0px;
    min-height: 0px;
    margin-bottom: 0px;
    min-width: 0px;
    background-color: dimgray;
}

.searchgrid {
    display: inline-grid;
    
    flex-wrap: wrap;
}
.plaintext {
    background-color: transparent;
    border: solid;
    border-color: white;
    border-width: 1px;
}
.found{
    display:inline-grid;
}

.profileImage-little{
    width:5vw;
    height:5vw;
   
}
.bio-little {
    font-size: 1vh;
   
}
.profilecard-little {
    max-width: 60vh;
    align-content: center;
    outline-color: transparent;
}

#toTop {
    display: none;
    border-radius: 5px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    background-color: slateblue;
    color: lightslategray;
    background-blend-mode: overlay;
    opacity: 0.4;
}

    #toTop:hover {
        background-color: mediumaquamarine; 
    }