<div class="text-center">
    <h1 class="display-4">About the hands behind</h1>
	<img class="logoPage" src="~/img/logo.svg" alt="LandingPage Logo" />


</div>
<hr />
<div class="text-center">
    <h2>About Me</h2>
</div>
<hr />

<div class="blurbwithimage">
    <img class="sqimage" src="~/img/art5.jpg" alt="LandingPage Art" />
    <h4 class="textleft">Hey, you're probabably wondering why this web app exists, huh. Well, let me introduce myself. I am Christian Dahl, developer in training at Neumont College of Computer Science!</h4>


</div>
<hr />
<div class="blurbwithimage">
    <h4 class="textright">I started school in 2021 with Cohort 37. I am in the Game and Software Development degree. I dabble in photography, digital art, and I am on a classic science fiction kick right now!</h4>
    <img class="sqimage" src="~/img/art6.gif" alt="LandingPage Art" />

</div>
<hr />
<div class="blurbwithimage">
    <img class="sqimage" src="~/img/art7.png" alt="LandingPage Art" />
    <h4 class="textleft">I kind of wanted to make this to prototype a social media product I would actually use. That being, a simple but effective central location for users to post all their links and contact methods, and to be able to post anything theyre working on.</h4>


</div>
<hr />
<div class="blurbwithimage">
    <h4 class="textright">Friends have called me "extra" and "excessive" and thus I have a tendency to overdo it on just about everything I work on. I strive to make all major projects look like launchable products. I also know way too much about and have too great of an interest in retro tech.</h4>
    <img class="sqimage" src="~/img/art8.png" alt="LandingPage Art" />

</div>
<hr />
<div class="text-center">
    <h2>About</h2>
    <img class="logoPage logoPageSmaller" src="~/img/DrachenSoft.svg" alt="Drachenblut Softworks Logo" />
</div>
<hr />

<div class="blurbwithimage">
    <img class="sqimage" src="~/img/drach1.png" alt="LandingPage Art" />
    <h4 class="textleft">Drachenblut SoftWorks is the name I plan to release any of my projects under, not only cause it sounds cool, but to also give it a bit of a professional flair. In several weeks I will start a series of streams developing the first game from Drachenblut!</h4>


</div>
<hr />
<div class="blurbwithimage">
    <h4 class="textright">The name comes from the Northwind database by the way, just thought it sounded cool. The logo is a vector trace of a painting I did with sesame oil and soy sauce. Current projects include: The Embersons, The SOL Suite, LandingPage, OSS Alexandria, Nessie Engine, and drachenblut.dev</h4>
    <img class="sqimage" src="~/img/drach2.png" alt="LandingPage Art" />

</div>
