@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>

    <img class="logoPage" src="~/img/logo.svg" alt="LandingPage Logo" />
</div>
<div class="blurbwithimage">
        <h4 class="textright">Your digital contact card! Keep a small blog, post images and store all your social media, websites and other methods of contact. Connect with other people and keep updated with their stuff!</h4>
        <img class ="sqimage"src="~/img/art1.png" alt="LandingPage Art" />

    </div>
    <hr />
    <div class="blurbwithimage">
    <img class="sqimage" src="~/img/art2.png" alt="LandingPage Art" />
        <h4 class="textleft">Post your art, screenshots of what youre working on, or even just photos of your dog! Do all of these combined even! With Imgur integration and options to post image links anything is possible!</h4>
       

    </div>
    <hr />
<div class="blurbwithimage">
        <h4 class="textright">Got something even biggerer and betterer to show off in a post? Switch to raw html mode to embed just about anything you can embed! The possibilities are endless!</h4>
        <img class ="sqimage"src="~/img/art3.png" alt="LandingPage Art" />

    </div>
    <hr />
 <div class="blurbwithimage">
    <img class="sqimage" src="~/img/art4.png" alt="LandingPage Art" />
        <h4 class="textleft">Well, what are you waiting for? Join today to meet other creatives, hobbyists, and professionals; Post your projects, thoughts and the like. Just go ahead and Make yourself at home!</h4>


    </div>
    <hr />
    <center>
<a class="btn btn-lg btn-outline-info btn-lrgst" type="button" asp-area="Identity" asp-page="/Account/Register">Sign Up Today!</a>
</center>
